*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb

# Ignore IDE files
/.idea

# Security Ignores
/config/initializers/secret_token.rb
/config/initializers/action_mailer.rb
/config/initializers/00_site_name.rb
/config/initializers/db.rb