<div class="panel panel-default">
  <div class="panel-heading">Thank you for signing up!</div>
  <div class="panel-body">
    <p>A blurb about all the benefits of registration!!!</p>
    <p>
      You should receive an email with registration information shortly.
      Before your account becomes active, you will have to confirm your email address using the link provided.
    </p>
    <p>
      If you run into any problems, contact <%= link_to "support@pi.partners.org" %> or something
    </p>
  </div>
</div>
