.faq-cat-content {
  margin-top: 25px;
}

.faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
  border: 1px solid $gray-lighter;
}

.faq-cat-tabs li.active a {
  border-top-color: $gray-light;
  border-left-color: $gray-light;
  border-right-color: $gray-light;
}


.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
  color: $brand-info;
}

.faq-cat-content .panel-heading:hover {
  background-color: $gray-light;
}

.panel-faq .active-faq {
  border-left: 5px solid $brand-info;
}

.panel-faq .panel-heading .panel-title span {
  font-size: $font-size-base;
  font-weight: normal;
}

.faq-cat-tabs li a {
  padding: 15px 10px 15px 10px;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
}

.faq-cat-content .panel-heading:hover {
}

#faq-cat-content {
  .panel-faq {
    .panel-heading {
      padding: 0;

      a {
        h4.panel-title {
          padding: 10px;
        }
      }
    }

  }
}
