<header>
  <!-- HEADLINE -->
  <h1>Thank you for your interest in <b>MyApnea.org</b></h1>
  <h2>the Sleep Apnea Patient Centered Outcomes Network</h2>
</header>

<div class="col-lg-12 mt centered">
  <h4>We are busy getting this site ready to launch - you'll be the first to know when we're up and running.</h4>
</div>