<header>
  <!-- HEADLINE -->
  <h1>Warning! You have chosen to explore an early version of <b>Www.MyApnea.Org</b></h1>
</header>

<div class="col-lg-12 mt centered">
  <h4>The site you are about to enter is a <strong><%= link_to 'minimum viable product', 'http://en.wikipedia.org/wiki/Minimum_viable_product', target: '_blank'  %></strong> intended for <strong>gathering feedback</strong> from you. If you'd like to be notified when the MyApnea.Org launches fully, please go back to the previous page and sign up for the mailing list.</h4>

  <div>
    <%= link_to "Continue To Early Version", dashboard_path, class: 'btn btn-lg btn-danger' %>
    <%= link_to "Return to Mailing List Signup", mailing_list_path, class: 'btn btn-lg btn-success' %>
  </div>
</div>