<header>
  <!-- HEADLINE -->
  <h1>Warning! You have chosen to explore an early version of <b>>www.myapnea.org</b></h1>
</header>

<div class="col-lg-12 mt centered">
  <h4>This site contains only barebone functionality, and is intended for testing purposes.</h4>
  <p>
    To continue, click <%= link_to "here.", dashboard_path %>
  </p>
  <p>
    To return to the previous page and sign up for the mailing list, click <%= link_to "here.", mailing_list_path %>
  </p>
  <p>
    To view design demo, click <%= link_to "here.", "sleepepi.partners.org/edge/design-myapnea" %>
  </p>

</div>