<div class="page-header">
  <h1>Connected Technologies</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Electronic Study Visits</h2>
    <h2>CPAP Uploads</h2>
    <h2>Mobile Health Apps</h2>
    <h2>Social Media</h2>
  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
