<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs category -->
    <ul class="nav nav-tabs faq-cat-tabs">
      <li class="active"><a href="#faq-cat-1" data-toggle="tab">Registration</a></li>
      <li><a href="#faq-cat-2" data-toggle="tab">Privacy</a></li>
      <li><a href="#faq-cat-3" data-toggle="tab">Topic 3</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content faq-cat-content">
      <div class="tab-pane active in fade" id="faq-cat-1">
        <div class="panel-group" id="accordion-cat-1">
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                <h4 class="panel-title">
                  How do I register for MyApnea.org?
                  <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </h4>
              </a>
            </div>
            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
              <div class="panel-body">
                Donec id lobortis nibh. Maecenas quis velit laoreet, tempor massa et, rhoncus nunc. Integer dictum venenatis ligula ac porta. Proin nec ornare magna. Sed commodo nulla ut tortor convallis, id aliquet eros tempus. Aliquam vel dolor aliquet, ultricies neque eget, molestie dui. Phasellus varius vitae elit at gravida. Donec vel quam ac orci varius interdum. Duis quis aliquet libero, at tincidunt dolor. In aliquam libero id congue rhoncus. Quisque sodales.
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                <h4 class="panel-title">
                  Why do I have to sign a concent form?
                  <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </h4>
              </a>
            </div>
            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
              <div class="panel-body">
                Nulla venenatis feugiat risus, sit amet volutpat elit eleifend eget. Sed hendrerit vulputate ipsum eget accumsan. Ut sit amet diam aliquet, tincidunt magna sit amet, pellentesque tellus. Nullam fringilla dictum lobortis. Aliquam erat volutpat. Nunc euismod sed est ac tincidunt. Donec mattis pellentesque ipsum vehicula suscipit. Morbi vel leo leo. Nulla eleifend varius lorem, vel pretium erat egestas id. Pellentesque porta tincidunt convallis. Ut sit amet placerat velit, tristique gravida neque.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="faq-cat-2">
        <div class="panel-group" id="accordion-cat-2">
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                <h4 class="panel-title">
                  What about the privacy of the information I give?
                  <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </h4>
              </a>
            </div>
            <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
              <div class="panel-body">
                In hac habitasse platea dictumst. Phasellus quis orci id lectus commodo malesuada quis non lacus. Nulla ante tortor, laoreet quis tellus eleifend, suscipit sagittis urna. Nullam at orci ultrices, iaculis erat non, varius mauris. Proin semper aliquet feugiat. Donec nisl felis, dapibus vel consequat consequat, suscipit eu lectus. Pellentesque elementum porta mauris, malesuada vulputate mi posuere cursus. Curabitur non felis nec felis tristique condimentum ac sed orci. Donec mattis, velit.
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                <h4 class="panel-title">
                  Do you share my information?
                  <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </h4>
              </a>
            </div>
            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
              <div class="panel-body">
                Aliquam at tincidunt urna. Donec ut arcu nec odio accumsan pharetra non vitae justo. In condimentum rutrum dolor nec egestas. Phasellus ornare sollicitudin justo, sed eleifend nunc varius nec. Duis at volutpat tellus. Fusce quis ultricies dui. Ut id dui porttitor, porttitor turpis eget, blandit mauris. Vivamus ac nulla tincidunt, fermentum dui sed, consequat sem. Fusce dui neque, pretium quis orci dictum, gravida ultrices ante. Phasellus dapibus dolor eget dignissim.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
