<div class="row pageTop">
  <%= link_to 'Sign Up Today', pledge_path, class: 'sign', id: 'signup' %>
  <div id="carousel">
    <img class="headerImg" alt="">
  </div>
</div>



        <div class="row highlightPanelTop">
          <div class="container ">
            <div class="col-xs-9 col-md-10">        <h1>Let’s Sleep Better...Together!</h1>
              <p class="lead">Improving sleep apnea through information, support and research</p>

              <p>We are inviting thousands of people with sleep apnea to come together to learn from one another, support one another and work hand in hand with researchers to improve our lives.  It’s a whole new way of finding help—for you and for millions of people with sleep apnea.</p>

              <div class="row">
                <div class="col-md-4">
                  <h3 style="text-align:center">Ready to Learn</h3>
                  <p>Information about sleep apnea and resources in your area</p>
                </div>
                <div class="col-md-4">
                  <h3 style="text-align:center">Ready to Share</h3>
                  <p>Talk with others about treatments and living with sleep apnea</p>
                </div>
                <div class="col-md-4">
                  <h3 style="text-align:center">Ready to Research</h3>
                  <p>Track your health online and work with researchers to advance sleep apnea treatments and medications</p>
                </div>
              </div>

              <hr>

              <p>MyApnea.org is what’s called patient-powered research. Together, we share health information, discuss experiences regarding treatment, and express views on future research projects directly with researchers and sleep experts that can make a difference. In return, you will get easy to use tools to track your health and will be able to learn from others about treatments, symptoms and coping with sleep apnea in order to take control of your life.</p>
            </div><!-- /.col-md-8 -->
            <div class="col-xs-2 memberCount">
                    <div class="countHeader">Our Goal</div>
                    <div class="countGoal">50k</div>
                    <div class="goalSuffix">Members</div>
                    <div class="total">23,012 <div class="goalMessage">And Counting</div></div>

                      </div><!-- /.col-md-4 -->
              <div class="dividerLight"></div>

           <!-- </div> /.container
          </div><!-- /.row -->

          <div class="row homeTest">
            <div class="container">
              <div class="col-xs-12 col-sm-12 col-md-4">
               <div class="testimonialImg imgMobileFullWidth"></div>
             </div><!-- /.col-md-4 -->
             <div class="col-sm-12 col-md-7 pull-right">
               <h1>Testimonial</h1>
               <p class="lead">My wife told me I stopped breathing while I slept….a lot!
                She lost sleep thinking that I would die and our lives were
                severely impacted by it. Thankfully, she read an article on
                sleep apnea and made me go to the doctor. I don’t want
                other people to suffer needlessly from this condition.</p>
                <span class="pull-right ">-Steve Jenkins</span></div><!-- /.col-md-8 -->
                <div class="dividerClear"></div>

              </div><!-- /.container -->
            </div><!-- /.row -->
</div></div>
            <div class="row">
              <div class="container makeRoom">
                <div class="dividerClear"></div>
                <div class="col-sm-12 col-md-6">        <h1>Why?</h1>
                  <p>Sleep apnea is a common and potentially life threatening
                    sleep and breathing disorder that affects millions of people
                    like us. Left untreated, sleep apnea increases the risk for
                    high blood pressure, heart attack, stroke and other medical
                    conditions. Although there are several treatments for sleep
                    apnea, there is a lot that is not known about what
                    treatments work best for which people.</p></div>
                  <div class="col-xs-12 col-md-6 videoPLayer pull-right">
                    <iframe width="480" height="280" src="//www.youtube.com/embed/4JkiWvWn2aU" frameborder="0" allowfullscreen></iframe>
                      </div><!-- /.col-md-6  -->

                    <div class="dividerClear"></div>

                  </div><!-- /.container -->
                </div><!-- /.row -->


                <div class="row highlightPanel">
                  <div class="container">
                    <div class="col-sm-12 col-md-8">
                     <h1>Patient Power</h1>
                     <p >MyApnea.org will bring together more people with sleep
                      apnea to share, learn and contribute to research than
                      has ever been tried before. By joining our community,
                      you can make a big difference in how you, and
                      others like us, live everyday and sleep every
                      night. You will also have a choice to weigh
                      in on what questions you most want answered
                      about sleep apnea. And we will report
                      back on all interesting research findings,
                      in language you don’t have to be a
                      scientist to understand.</p>
                      <div class="dividerLight"></div>

                      <h1>It's Easy</h1>
                      <p> Use your computer, your tablet or your
                        smartphone. The health surveys you answer
                        are short, easy to complete, and can be done
                        whenever is easiest for you.</p>
                        <div class="dividerLight"></div>

                        <h1>It's Safe</h1>
                        <p >Because patients run the network, we are committed to protecting
                          the security of your identity and information. MyApnea.org will never
                          sell your contact information. Our partners—the American Sleep Apnea
                          Association and the Division of Sleep and Circadian Disorders at Brigham and
                          Women’s Hospital, Harvard Medical School—are dedicated to helping patients
                          with sleep apnea. They are interested in generating new knowledge while
                          respecting the privacy concerns of our members.</p>
                        </div><!-- /.col-md-8 -->


                        <div class="col-sm-12 col-md-4">                             <div class="patientImg imgMobileFullWidth"></div>


                      </div><!-- /.col-md-4 -->


                    </div><!-- /.container -->
                  </div><!-- /.row -->
