<div class="row pageTop">
  <%= link_to 'Sign Up Today', pledge_path, class: 'sign', id: 'signup' %>
  <div id="carousel">
    <img class="headerImg" alt="">
  </div>
</div>

<div class="row highlightPanelTop">
  <div class="container">
    <div class="col-xs-9 col-md-10">
      <h1>Let's Sleep Better...Together!</h1>
      <p class="lead">Improving sleep apnea through information, support, and research</p>

      <p>We are inviting thousands of people with sleep apnea to come together to learn from one another, support one another and work hand in hand with researchers to improve our lives.  It’s a whole new way of finding help—for you and for millions of people with sleep apnea.</p>

      <div class="row">
        <div class="col-md-4">
          <h3 style="text-align:center"><%= link_to 'Ready to Learn', learn_path %></h3>
          <p style="text-align:center"><i>Information about sleep apnea and resources in your area</i></p>
        </div>
        <div class="col-md-4">
          <h3 style="text-align:center"><%= link_to 'Ready to Share', share_path %></h3>
          <p style="text-align:center"><i>Talk with others about treatments and living with sleep apnea</i></p>
        </div>
        <div class="col-md-4">
          <h3 style="text-align:center"><%= link_to 'Ready to Research', research_path %></h3>
          <p style="text-align:center"><i>Track your health online and work with researchers to advance sleep apnea treatments and medications</i></p>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="dividerClear"></div>
          <div class="col-sm-12 col-md-6">        <h1>Why?</h1>
            <p>Sleep apnea is a common and potentially life threatening
              sleep and breathing disorder that affects millions of people
              like us. Left untreated, sleep apnea increases the risk for
              high blood pressure, heart attack, stroke and other medical
              conditions. Although there are several treatments for sleep
              apnea, there is a lot that is not known about what
              treatments work best for which people.</p></div>
            <div class="col-xs-12 col-md-6 videoPLayer pull-right">
              <iframe width="480" height="280" src="//www.youtube.com/embed/4JkiWvWn2aU" frameborder="0" allowfullscreen></iframe>
            </div><!-- /.col-md-6  -->
          <div class="dividerClear"></div>
        </div><!-- /.container -->
      </div><!-- /.row -->

    </div><!-- /.col-md-8 -->
    <div class="col-xs-2 memberCount">
      <div class="countHeader">Our Goal</div>
      <div class="countGoal">50k</div>
      <div class="goalSuffix">Members</div>
      <div class="total">23,012 <div class="goalMessage">And Counting</div></div>
    </div><!-- /.col-md-4 -->
    <div class="dividerLight"></div>

  <div class="row homeTest">
    <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-4">
       <div class="testimonialImg imgMobileFullWidth"></div>
     </div><!-- /.col-md-4 -->
     <div class="col-sm-12 col-md-7 pull-right">
       <h1>Testimonial</h1>
       <p class="lead">My wife told me I stopped breathing while I slept….a lot!
        She lost sleep thinking that I would die and our lives were
        severely impacted by it. Thankfully, she read an article on
        sleep apnea and made me go to the doctor. I don’t want
        other people to suffer needlessly from this condition.</p>
        <span class="pull-right ">-Steve Jenkins</span></div><!-- /.col-md-8 -->
        <div class="dividerClear"></div>

      </div><!-- /.container -->
    </div><!-- /.row -->
  </div>
</div>

