<div class="page-header">
  <h1>Our Network</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <section>
      <h3 class="text-primary">Learn</h3>

      <p>Come share and learn from others like you.  We all know that the management of sleep apnea isn’t always guided by what’s best for each person.  Which tests we get sometimes depends on our insurance coverage.  Which treatment we get also may depend on our insurance and which doctor we see.  Success is defined by how often we use our treatment, rather than how we feel or how it improves our life.  Figuring out what types of treatments are best for each one of us with sleep apnea is hard.</p>

      <p>MyApnea.org brings together patients, researchers and doctors all in the same community to share and discuss how to better diagnose and treat sleep apnea to improve all of our lives.</p>

      <p>The promise to shape research is huge</p>

      <p>The information being collected and potential to change lives is large.</p>

      <p>By contributing information on your sleep apnea and health, researchers will be able to make side-by-side comparisons of different treatments and learn how different treatments help different types of patients.  There has never been this type of partnership with this level of focus, resources and information aimed at fighting sleep apnea.</p>
    </section>
    <section>
      <h3 class="text-primary">Join</h3>

      <p>If you have been diagnosed with sleep apnea, or if you love someone diagnosed with apnea, join us.  Since children with apnea are so often overlooked, we are eager to have parents or caregivers join on behalf of their kids or other family members, and will soon have the ability to have parents sign up, too!</p>

      <p>If you are ready to take on your apnea in a whole new way and work with us to find answers together, please join the patient-powered network.</p>
    </section>
    <section>
      <h3 class="text-primary">Share</h3>
      <p>You decide how active you want to be in MyApnea.org.  There are several ways to take part:</p>
      <ul>
        <li>Answer periodic (at least twice per year) surveys about your general health and sleep habits, health care experiences and treatments</li>
        <li>Suggest questions you want answered</li>
        <li>Share tips and strategies</li>
        <li>Keep an electronic diary of sleep patterns, alertness and daily functioning</li>
        <li>Link your PAP (positive airway pressure) machine and other monitoring devices to upload your data, sleep/wake habits and other health information </li>
        <li>All of the above!</li>
      </ul>
    </section>
    <section>
      <h3 class="text-primary">Connect</h3>
      <p>The information you share will go into web and mobile apps that:</p>
      <ul>
        <li>Display your information into easy to use and understand graphs and charts that provide feedback on your health and treatment progress; you can view them on your computer, tablet or smartphone.  It’s that easy.</li>
        <li>Create graphs so you compare your experience with treatments, devices and symptoms to other’s like you.</li>
        <li>Ultimately, for everyone who chooses to do so, being part of the MyApnea.org network, will allow you to connect your sleep health history to your complete electronic medical record (EMR).  Through what’s called Blue Button+ technology, you will learn how to access your entire EMR.</li>
      </ul>
      <p>It’s your personal information, so why shouldn’t you control it and see it when you want to?</p>
      <p>The bottom line is you get new tools and new power to help you better manage your apnea and health.</p>
    </section>
    <section>
      <h3 class="text-primary">Community</h3>
      <p>When you join MyApnea.org, you become part of a national community of people who know just what you go through every night and every day.  We get it.  Together, we can fight sleep apnea and improve OUR lives.  As our group grows, we get stronger, and MyApnea.org will offer:</p>
      <ul>
        <li>A social network to share common experiences, successes, hopes, and frustrations</li>
        <li>Ways to track and monitor your health and progress online or right on your phone</li>
        <li>Listings of support groups or ways to connect with others in your area</li>
        <li>Breaking news on new treatments, study findings and study opportunities</li>
        <li>How-to videos and other educational information</li>
        <li>Ways to vote on research ideas you think are most important </li>
        <li>Rewards for staying involved</li>
      </ul>
    </section>


  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
