<div class="page-header">
  <h1>Our Network</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Goals</h2>
    <p>--My Apnea Mission Statement--</p>
    <h2>Science</h2>
    <p>--What the study is trying to accomplish--</p>
    <h2>People</h2>
    <p>--How to be involved--</p>
    <p>--Levels of participation--</p>
    <p>--Benefits of participation--</p>
  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
