<div class="page-header">
</div>

<section id="privacy-policy">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1>Privacy Policy and Data Security Measures</h1>
        </div>

        <div class="panel-body">
          <%= markdown File.read(Rails.root.join('lib', 'data', 'privacy_policy.md')) %>
        </div>
      </div>
    </div>
  </div>
</section>