<div class="row pageTop">
  <%= link_to 'Sign Up Today', pledge_path, class: 'sign', id: 'innerSignup' %>
  <div id="innerCarousel">
    <%= image_tag 'myapnea/hdr-team.jpg', class: 'headerImg', alt: '' %>
  </div>
</div>

<div class="row highlightPanel community">
  <div class="communityImg imgMobileFullWidth"></div>
  <div class="container tall">
    <div class="col-md-7 makeRoom">
      <%= image_tag 'myapnea/communityIcon.png' %>
      <h1>READY TO SHARE</h1>

      <p>We all know that the management and treatment of sleep apnea isn’t always what’s best for each person.  Which tests we get sometimes depends on our insurance coverage.  Which treatment we get also may depend on our insurance and which doctor we see.  Success is defined by how often we use our treatment, rather than how we feel or how it improves our life.  Figuring out what types of treatments are best for each one of us with sleep apnea is hard.</p>

      <p>If you have been diagnosed with sleep apnea, or if you love someone diagnosed with apnea, join us- become part of a national community of people who know just what you go through every night and every day.  We get it.  Together, we can fight sleep apnea and improve OUR lives.</p>

      <h2 style="text-align:center">Join Us on Social Media</h2>
      <div class="row">
        <div class="col-xs-4">
          <h1 style="text-align:center">
          <i class="fa fa-facebook"></i>
          </h1>
        </div>
        <div class="col-xs-4">
          <h1 style="text-align:center">
          <i class="fa fa-instagram"></i>
          </h1>
        </div>
        <div class="col-xs-4">
          <h1 style="text-align:center">
          <i class="fa fa-twitter"></i>
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div><!-- /.col-md-8 -->

  </div>

  </div><!-- /.container -->
</div><!-- /.row -->
