<div class="page-header">
  <h1>Our Team</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>SAPCOM</h2>
    <h2>ASAA</h2>
    <h2>Harvard</h2>
    <h2>Brigham & Women's Hospital</h2>
  </div>
</div>

<%= render partial: 'layouts/join_bottom' %>
