<section id="thank-you">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= markdown File.read(Rails.root.join('lib', 'data', 'thank_you.md')) %>

            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <p>Sincerely,</p>
              <p>The MyApnea Team</p>
            </div>
            <div class="col-md-2">
              <%= link_to "Enough talk - take me to my site!", dashboard_path, class: "btn btn-primary btn-large pull-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

