<div class="page-header">
  <%= link_to question_flows_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New question_flow</h1>
</div>

<%= render 'form' %>
