#splash {

  #personal-stories {
    img {
      height: 300px;
      width: auto;
      margin-top: 0px;
    }
  }

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
    margin-top: 20px;
  }
  .join-top {
    margin-top: 74px;
  }
}


.pd {
  margin-top: 60px;
}
