<h3 class="panel-title">
  <%= question_flow.name %>

  <div class='pull-right'>
    <%= link_to dashboard_path, class: 'btn btn-xs btn-default dashboard-return' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Save and Return to My Dashboard
    <% end %>
  </div>
</h3>