
  <div>
    <%= link_to dashboard_path, class: 'btn btn-md btn-default pull-left' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Return to My Dashboard
    <% end %>
  </div>
  <div>

    <%= link_to '', class: 'btn btn-md btn-primary pull-right' do %>
      Start Next Survey <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>
  <br/>
