<%=
# Load data using json
# Generate Chart



%>

<div id="review">
<div class="page-header">
  <h1>Review of <strong><%= @question_flow.name %></strong>  Survey</h1>
  <div>
    <%= link_to dashboard_path, class: 'btn btn-md btn-default pull-left' do %>
      <span class="glyphicon glyphicon-arrow-left"></span> Return to My Dashboard
    <% end %>
  </div>
  <div>

    <%= link_to '', class: 'btn btn-md btn-primary pull-right' do %>
      Start Next Survey <span class="glyphicon glyphicon-arrow-right"></span>
    <% end %>
  </div>
</div>

<div class="clearfix"></div>

<div class="row" id="bmi">
  <div id="current" class="col-md-3">
    <h3>Your Current Body Mass Index</h3>
    <svg class="chart"></svg>
  </div>
  <div id="history" class="col-md-9">
    <h3>Your BMI Trends</h3>

  </div>
</div>


<div class="row"  id="ahi">
  <div id="prediction" class="col-md-4">
    <h3>Your AHI Predictor</h3>
    <svg class="chart"></svg>
  </div>
  <div id="ahi-graph" class="col-md-8">
    <h3>Effects of Weight Change on AHI</h3>

  </div>

</div>
</div>