<footer class="container" id="footer">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      Send all feedback to <%= mail_to t(:support_email), nil, id: "support-email" %>
    </div>
  </div>
</footer>
