<div class="row" id="join-bottom">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center">
        <span class="">Sign up today and make a difference</span>
        <%= link_to "Join My Apnea Now!", page_path('pledge'), class: "btn btn-primary join", remote: false %>
      </p>

    </div>

</div>
