<div class="row" id="join-bottom">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center">
        <span class=""><%= t :join_message %></span>
        <%= link_to t(:bottom_join_button), pledge_path, class: "btn btn-primary join", remote: false %>
      </p>

    </div>

</div>
