<div class="row" id="join-bottom">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center">
        <span class="">Sign up today and help us find answers, together!</span>
        <%= link_to "Join MyApnea.org", pledge_path, class: "btn btn-primary join", remote: false %>
      </p>

    </div>

</div>
