<section id="press-and-others">
  <div class="well">
    <div class="row">
      <div class="col-md-8"><p><strong>MyApnea.org is one part of a national movement for patient-powered research networks. Visit <a href="http://www.pcornet.org">www.pcornet.org</a> for more information!</strong></p></div>
      <div class="col-md-4"><a href="http://www.pcornet.org"><%= image_tag "logos/PCORnet logo.jpg", class: "img-responsive img-rounded" %></a></div>
    </div>
  </div>


</section>