<section id="press-and-others">
  <div class="row">
    <div class="col-md-12">Press Logos and Links to News Clips</div>
  </div>
  <p>MyApnea.org is a part of a national movement for patient-powered research networks.</p>
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.pcornet.org/">
        <img src="http://www.pcornet.org/wp-content/uploads/2013/12/pcori_logo.png" alt="PCORnet">
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.pcornet.org/">
        <img src="http://www.health-eheartstudy.org/assets/health%20eheart%20footer%20logo.png" alt="Health eHeart">
       </a>
    </div>
    <div class="col-md-4">
      <a href="http://www.health-eheartstudy.org/">
        <img src="https://sfibd-production.s3.amazonaws.com/logo/Crohnology-Logo-White-Text-Beta-154w.png" alt="Chrohnology" >
      </a>
    </div>

  </div>


</section>