<section id="press-and-others">
  <div class="well">
    <div class="row">
      <div class="col-md-8"><%= markdown t :other_pprns %></div>
      <div class="col-md-4"><a href="http://www.pcornet.org"><%= image_tag "logos/PCORnet logo.jpg", class: "img-responsive img-rounded" %></a></div>
    </div>
  </div>


</section>