<section id="press-and-others">
  <div class="well">
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <p><strong>MyApnea.org is one part of a national movement for patient-powered research networks. These are 2 others:</strong></p>



    <div class="row">
      <div class="col-md-6">
        <a href="http://www.pcornet.org/">
          <img src="http://www.health-eheartstudy.org/assets/health%20eheart%20footer%20logo.png" alt="Health eHeart">
        </a>
      </div>
      <div class="col-md-6">
        <a href="http://www.health-eheartstudy.org/">
          <img src="https://sfibd-production.s3.amazonaws.com/logo/Crohnology-Logo-White-Text-Beta-154w.png" alt="Chrohnology" >
        </a>
      </div>

    </div>

  </div>


</section>