<!DOCTYPE html>
<html>
<head>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="assets/favicon.png">

  <title>MyApnea.Org - Coming Soon!</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/soon.css" rel="stylesheet">


  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->

  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

</head>
<!-- START BODY -->
<body class="nomobile">

<!-- START HEADER -->
<section id="header">
  <div class="container" id="main-container">
    <%= yield %>

  </div>
  <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
  <!-- END LAYER -->
  <!-- START SLIDER -->
  <div id="slider" class="rev_slider">
    <ul>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/1.jpg">
        <img src="assets/1.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/lrargerich/8736352818">Photo</a> by <a href="http://www.flickr.com/photos/lrargerich/">Luis Argerich</a> / <a href="http://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a>
          </span>
        </div>
      </li>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/2.jpg">
        <img src="assets/2.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/peasap/2561252071">Photo</a> by <a href="http://www.flickr.com/photos/peasap/">peasap</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
          </span>
        </div>
      </li>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/3.jpg">
        <img src="assets/3.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/pedrosimoes7/219530983/">Photo</a> by <a href="http://www.flickr.com/photos/pedrosimoes7/">Pedro Ribeiro Simoes</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
          </span>
        </div>
      </li>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/4.jpg">
        <img src="assets/4.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/mikeporesky/5208216336/in/photolist-8Wetgo-9XbUUd-8PhEZX-9zJJma">Photo</a> by <a href="http://www.flickr.com/photos/mikeporesky/">Mike Poresky</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
          </span>
        </div>
      </li>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/5.jpg">
        <img src="assets/5.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/environmentblog/7182973304/">Photo</a> by <a href="http://www.TheEnvironmentalBlog.org">www.TheEnvironmentalBlog.org</a> / <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/">CC BY-NC-ND 2.0</a>
          </span>
        </div>
      </li>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/6.jpg">
        <img src="assets/6.jpg">
        <div class="tp-caption">
          <span class="creative-commons hidden-xs">
            <a href="http://www.flickr.com/photos/thelotuscarroll/8938420523">Photo</a> by <a href="http://www.flickr.com/photos/thelotuscarroll/">Lotus Carroll</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA 2.0</a>
          </span>
        </div>
      </li>
    </ul>
  </div>
  <!-- END SLIDER -->
</section>
<!-- END HEADER -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/jquery.min.js"></script>
<script type="text/javascript" src="assets/modernizr.custom.js"></script>
<script src="assets/bootstrap.js"></script>
<script src="assets/plugins.js"></script>
<script src="assets/jquery.themepunch.revolution.min.js"></script>
<script src="assets/custom.js"></script>
</body>
<!-- END BODY -->
</html>
